
@{
    ViewBag.Title = "Index";
}

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#firstTab">View All Classes</a></li>
    <li><a data-toggle="tab" href="#secondTab">Add New Class</a></li>
</ul>
<div class="tab-content">
    <div id="firstTab" class="tab-pane fade in active">@Html.Action("ViewAll")</div>
    <div id="secondTab" class="tab-pane fade in ">@Html.Action("AddOrEditClass")</div>
</div>

<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    


    <script>
        function activateClassjQueryTable() {
            $("#classTable").DataTable();
        }

        $(function () {
            activateClassjQueryTable();
        });

    </script>

<link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

    <script>

            $(function () {
                $(".datepicker").datepicker({
                    dateFormat: "yy/mm/dd",
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "-1:+10"

                });

                //getter
                var dateFormat = $(".datepicker").datepicker("option", "dateFormat");

                //setter
                $(".datepicker").datepicker("option", "dateFormat", "yy/mm/dd");
            });
    </script>
} 

