@model JQueryAjaxInMVC2.Models.BookingViewModel
@{
    ViewBag.Title = "AddBooking";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}


<h2>Summary</h2>
<p>Booking successful</p>



<h2>Checkout</h2>

<h4>Payment options</h4>




