
@{
    ViewBag.Title = "CustomerLogout";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}


<style type="text/css">
    h2 {
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    div {
        text-align: center;
    }
</style>

<h2>Thank you for using our system</h2>
<h2>Click the button below</h2>



<div>
    <input type="button" value="Go back Home page" class="btn btn-warning btn-lg btn-block btn-huge" onclick="location.href='@Url.Action("Index", "Customer")'" />

</div>	       