
@{
    ViewBag.Title = "Index";
}

<div class="container">

    <h3>WELCOME TO</h3>

    <p>Martial Arts Clubs Booking Management</p>
    <br />
    <br />
    <br />
   

</div>


<div class="container">
    
    <div class="row">
        <div class="col-lg-3">
            <input type="button" value="Clubs" class="btn btn-info btn-lg btn-block btn-huge" onclick="location.href='@Url.Action("Index", "Club")'" />
        </div>

        <div class="col-lg-3">
            <input type="button" value="Instructors" class="btn btn-info btn-lg btn-block btn-huge" onclick="location.href='@Url.Action("Index", "Instructor")'" />
        </div>

        <div class="col-lg-3">
            <input type="button" value="Classes" class="btn btn-info btn-lg btn-block btn-huge" onclick="location.href='@Url.Action("Index", "Class")'" />
        </div>

        <div class="col-lg-3">
            <input type="button" value="Bookings" class="btn btn-info btn-lg btn-block btn-huge" onclick="location.href='@Url.Action("Index", "Booking")'" />
        </div>
    </div>

</div>



   



            